<div class="mainsection">

  <div class="section1">
  <div class="row">
    <div class="col-sm-12">
      <div id="slide_headline"><h1>RESPONSIVE NETTSIDER</h1>
      </div>

    <p id="slide_p1"> -Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <p id="slide_p2"> -Officia deserunt mollit anim id est laborum.</p>
    </div> <!-- col-md-12 -->
  </div><!--section1 -->
</div><!-- mainsection -->
</div>
<div class="container section2">


  <div class="row">
    <div class="col-md-4">
      <div class="section2_first_row">
        <span class="glyphicon glyphicon-heart"></span>
        <h2>Ruby On Rails</h2>
        <p>Ved å benytte oss av rammeverket Ruby on Rails, kan vi bygge fullkomne web-applikasjoner fra enkle nettsteder for informasjon,
        til web-baserte applikasjoner for deg og ditt firma </p>
        
      </div><!-- section2_first_row"> -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
      <div class="section2_second_row">
        <span class="glyphicon glyphicon-ok"></span>
        <h2>Responsivt design</h2>
        <p>I dagens digitale verden er det viktig at nettsiden vises korrekt på enheten dine besøkende benytter. Vi sørger for at din nettside fungerer 
        på små mobilskjermer, laptops, til større monitorer.</p>
        
      </div><!-- section2_second_row -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
      <div class="section2_third_row">    
        <span class="glyphicon glyphicon-stats"></span>
        <h2>Søkemotoroptimalisering</h2>
        <p>Det er viktig at nettsiden din er synlig for søkemotorene. Vi sørger for å optimalisere siden din, slik at den lettere blir plukket opp av 
        de største søkemotorene, som medfører høyere rangering på søkeresultater.</p>
        
        </div><!-- section2_third_row -->
      </div><!-- col-md-4 -->
  </div><!-- row -->
  <div class="col-md-12 section2_below">
      <h1>Fremtiden ligger på nettet</h1>

  </div>
</div> <!-- container section2-->

<div class="section3">
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2 class="features-heading">Det starter alltid med en idè. <span class="text-muted">La oss hjelpe deg videre.</span></h2>
            <p class="features-text">Har du et brennende ønske om å virkeliggjøre din idè? <br>Devalo hjelper deg med å komme deg på nett,
            og tar i bruk solide rammeverk og nyeste normer.</p>
            <p class="features-text">Ved å gjøre designet responsivt, samt teste nettsiden i de mest brukte nettleserne, er vi sikret at 
            nettsiden vises riktig for alle besøkende, enten de bruker en smart-telefon, nettbrett eller datamaskin</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'bulb.png', class: "feature-bulb", alt: "ide" %>
        </div>
      </div>
      <hr class="features-devider">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag 'win.png', class: "feature-win", alt: "Vi lykkes" %>
        </div>
        <div class="col-md-7">
          <h2 class="features-heading">Jobber for at du skal lykkes <span class="text-muted">Ved bruk av riktige verktøy.</span></h2>
          <p class="features-text">Ved å ta i bruk moderne og velprøvde teknologier som Ruby on Rails, HTML5, CSS3 og jQuery kan vi 
          bygge iøyefallende nettsider, som rangerer høyt hos de største søkemotorene</p>
        </div>
      </div>
      <hr class="features-devider">
      <div class="row">
        <div class="col-md-7">
          <h2 class="features-heading">Vi tar hånd om det tekniske <span class="text-muted">Så du kan fokusere på ditt.</span></h2>
          <p class="features-text">Vi håndterer domener og epost for deg, samt driften av nettstedet.</p>
          <p class="features-text">Vi har mulighet til å skreddersy ditt brukerpanel for deg, slik at du har full kontroll på sidenes innhold.
        </div>
        <div class="col-md-5">
          <%= image_tag 'control-panel.png', class: "feature-control-panel", alt: "kontrollpanel" %>
        </div>
        </div>
  </div>
</div>






























