<div class="mainsection">

  <div class="section1">
  <div class="row">
    <div class="col-sm-12">
      <div id="slide_headline"><h1>RESPONSIVE NETTSIDER</h1>
      </div>

    <p id="slide_p1"> -Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <p id="slide_p2"> -Officia deserunt mollit anim id est laborum.</p>
    </div> <!-- col-md-12 -->
  </div><!--section1 -->
</div><!-- mainsection -->
</div>
<div class="container section2">


  <div class="row">
    <div class="col-md-4">
      <div class="section2_first_row">
        <span class="glyphicon glyphicon-heart"></span>
        <h2>HEADING NR 1</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- section2_first_row"> -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
      <div class="section2_second_row">
        <span class="glyphicon glyphicon-ok"></span>
        <h2>HEADING NR 2</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- section2_second_row -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
      <div class="section2_third_row">    
        <span class="glyphicon glyphicon-stats"></span>
        <h2>HEADING NR 3</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- section2_third_row -->
      </div><!-- col-md-4 -->
  </div><!-- row -->
  <div class="col-md-12 section2_below">
      <h1>BLABLABLA</h1>
      <ul>
        <li><p>tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p></li>
        <li><p>tortor mauris condimentum nibh, ut fermentum massa justo sit amet </p></li>
  </div>
</div> <!-- container section2-->

<div class="section3">
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2 class="features-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="features-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/450/450/business" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="features-devider">
      <div class="row">
        <div class="col-md-5">
          <img class="fds" src="http://lorempixel.com/450/450/technics/" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="features-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="features-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="features-devider">
      <div class="row">
        <div class="col-md-7">
          <h2 class="features-heading">Second feature heading.<span class="text-muted">Dette er kult</span></h2>
          <p class="features-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit</p>
        </div>
        <div class="col-md-5">
          <img alt="Generic placeholder image" src="http://lorempixel.com/450/450/people">
        </div>
        </div>
  </div>
</div>






























