<div class="mainsection">

<div class="section1">
<div class="col-md-12">
<div id="slide_headline"><h1>PROFFE NETTSIDER</h1></div>

<p id="slide_p1"> -Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
<p id="slide_p2"> -Officia deserunt mollit anim id est laborum.</p>
</div>


</div>

<div class="secondsection">
hei
  <button id="button">Click here</button>
</div>
<h1 id="borte">Dette er eb tekst</h1>
<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

<script>

</script>
</div>

