<% provide(:title, "Om Devalo") %>
<div class="om_oss">
  <div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-md-6">
  <div class="left_side">
      <h2 class="om_headline">Fremtiden ligger på nettet</h2>
      <div class="kontakt_tekst">
        <p>Siden innføringen av internett i Norge har tilkoplingen til internett vært i massiv utvikling.
           I dag er det blitt lettere, og billigere for enhver bedrift eller privatperson å kople seg opp,
           og bruken av internett kommer ikke til å avta.</p>
        <p>Folk bruker først og fremst internett til å søke opp informasjon. Derfor er det viktig at din bedrift raskt og enkelt kan 
           bli funnet av potensielle kunder, samt at nettsidene er informative, ser bra ut, og er lett å navigere seg igjennom.</p>                          
        <p>Vi i Devalo kan levere responsive nettsider for deg eller din bedrift.     
           Ta kontakt for en uforpliktende samtale for å se hva vi kan gjøre for deg.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  <div class="right_side">
  
  <h2 class="prosessen_headline ">Om Devalo</h2>
  <div class="kontakt_tekst">
    <p>Vi leverer design og programmeringstjenester rettet mot webapplikasjoner. </p>
    <p>Nettsidene blir tilpasset ulike skjermstørrelser, slik at nettsidene blir like brukervennlig på mobile enheter, som på en dataskjerm.</p>
    <p>Vi tar oss av hosting, oppsett av domene og epost, samt den tekniske driften av nettsiden.</p>
   </div>
   <%= image_tag ('screenall.png'), class: "om_bilde" %>
  

  </div>
  </div>
</div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67164910-1', 'auto');
  ga('send', 'pageview');

</script>