<% provide(:title, "Kontakt oss") %>
<div class="om_oss">
  <div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-md-6">
    <h2 class="om_headline">Fremtiden ligger på nettet</h2>
    <div class="kontakt_tekst">
      <p>Siden innføringen av internett i Norge har tilkoplingen til internett vært i massiv utvikling.
         I dag er det blitt lettere, og billigere for enhver bedrift eller privatperson å kople seg opp,
         og bruken av nettet kommer ikke til å avta.</p>
      <p>Folk bruker internett for å søke opp informasjon. Derfor er det viktig at din bedrift raskt og enkelt kan 
         bli funnet av potensielle kunder, samt at nettsidene er informative, ser bra ut, og er lett å navigere seg igjennom</p>                          
      <p>Vi i Devalo kan levere responsive nettsider for deg eller din bedrift.     
         Ta kontakt for en uforpliktende samtale for å se hva vi kan gjøre for deg.</p>
    </div>
  </div>
  <div class="col-md-6">
  <h2 class="prosessen_headline">Prosessen</h2>
  </div>
</div>