<div class="admin_panel">
  <div class="row">
    <div class="col-md-3 ">
      <div class="left_panel">
      <ul>
      <li><%= link_to 'Vis alle brukere', admin_brukere_path,  class: "btn btn-default admin_button_sidebar" %></li>
      <li><%= link_to 'Ny bruker', new_user_path, class: "btn btn-default admin_button_sidebar" %></li>
          <li><a href="#" class="btn btn-default admin_button_sidebar">Nyhetsbrev</a></li>
      </ul>
      </div>
    </div>
    <div class="col-md-9 right_panel">