<%= render 'users/users_sidebar' %>
      <div class="right_panel">
      <p id="notice"><%= notice %></p>

<h2>Alle brukere</h2>

        
  

  
    <% @users.each do |user| %>
      
        <h4 class="user_name"><%= link_to "#{user.first_name} #{user.last_name}", edit_user_path(user) %> </h4>
        
        <p class="user_email"><%= user.email %></p>
        <hr align="left" class="user_hr">
        
        
        
        
      
    <% end %>
  




      </div>



