<div class="kontakt_side_new">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <h2 class="kontakt_headline">Kontakt oss</h2>
    <p class="kontakt_tekst">Har du generelle spørsmål ønsker vi at du benytter kontaktskjema under.<br>
                             Vi vil ta kontakt med deg så snart som mulig.
    <%= render 'contacts/form' %>
  </div>
</div>