<% provide(:title, "Kontakt oss") %>
<div class="kontakt_side_new">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <h2 class="kontakt_headline">Kontakt oss</h2>
    <p class="kontakt_tekst"><p>Har du spørsmål, eller, ønsker å se hva vi kan gjøre for deg, kan du gjerne benytte 
                                kontaktskjema under.<br>
                             Vi vil ta kontakt med deg så snart som mulig.</p>
                             <p>Fyll ut alle feltene under, slik at vi enklest og rasket mulig kan nå deg.
    <%= render 'contacts/form' %>
  </div>
</div>