<% provide(:title, "Kontakt oss") %>
<div class="kontakt_side_new">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <h2 class="kontakt_headline">Kontakt oss</h2>
    <p class="kontakt_tekst">Har du spørsmål eller ønsker å se hva vi kan gjøre for deg, kan du gjerne benytte 
                                kontaktskjema under.<br>
                             Vi vil ta kontakt med deg så snart som mulig.</p>
                             <p class="kontakt_tekst">Fyll ut alle feltene under, slik at vi enklest og rasket mulig kan nå deg.
    <%= render 'contacts/form' %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67164910-1', 'auto');
  ga('send', 'pageview');

</script>