// Place all the styles related to the admin_boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged_in_field {
  background-color: #3b2e2e;
  padding: 3px;
  color: #fff;

  a {
    color: #fff;
  }
}

.navbar-admin {
  background-color: #fff;
  margin-bottom: 0;
}

.admin_panel {
  margin-top: 0;

  .left_panel {
    padding-top: 20px;
    height: 700px;
    padding: 5px;
    background-color: #cfc;
    list-style-type: none;

    ul {
      list-style-type: none;
    }
  }
}