.om_oss {
  background: url(main-bg-flip.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 107, 92,0.55);
  
 p {
  color: #333;
 }

}

.om_headline {

  color: #fff;

   }

.prosessen_headline {
  color: #fff;
  text-align: center;
}