// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  
}
/********** NAVIGASJON ************/ 
.navi {
  background-color: #fff;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid white  ;

  .logo {
    width: 300px;
    font-weight: bold;
    font-family: sans-serif;
    
  }

  .logo-undertekst {
    padding-top: 2px;
  }

  .navbar-right {
    ul {
      margin-top: 20px;

      li {
        display: inline-block;
        font-size: 18px;
        padding: 3px;
        text-transform: uppercase;


      }
    } 
  }


}


/******** NAVIGASJON END ************/
/*#6155b5;*/

.section1 {



  margin-top: none;
  background: url(lady2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;

  

  img {
    transform: translate( 0%, -15%);  
  }

  #slide_headline {
    margin-top: 5%;
    
    background: rgba(177, 170, 230, .7);
    
    left: -1000px;
    position: relative;
    width: 40em;
    

    text-align: center;
   
    

    h1 {
    color: #363636;
    font-family: 'Play', sans-serif; font-weight: 700;
    font-size: 65px;
    padding: 0.5em;
    border: 0.1em solid white;
    word-wrap: break-word;

  }
    
  }

   

  #slide_p1, #slide_p2{
    color: #363636;
    padding: 2px;
    width: 400px;
    font-weight: bold;
    font-family: ‘Open Sans’, sans-serif; font-weight: 600;
    left: -1000px;
    background: rgba(177, 170, 230, .7);
    position: relative;
  }

  #slide_image {

    padding-top: 50px;
    background: url(lcd-screen.png);
    width: 30%;
    height: 200px;
    background-size: cover;
    position: relative;
    left: 1000px;
  }
}





.section2 {
  text-align: center;
  margin-top: 34px;

  
  

  .section2_first_row {
    
    background-color: #fff;
    border-radius: 0px; 
    padding: 6px;

    h2 {
      color: #6155b5;
      font-family: 'Play', sans-serif; font-weight: 700;
    }

      p {
      color: #6155b5;
      font-family: 'Open Sans', sans-serif; font-weight: 600;
    }
    

    span {
      color: #6155b5;
      font-size: 70px;
    }
  }

  .section2_second_row {
    
    background-color: #fff;
    border-radius: 0;
    padding: 6px;

    h2 {
      color: #6155b5;
      font-family: 'Play', sans-serif; font-weight: 700;
    }

      p {
      color: #6155b5;
      font-family: 'Open Sans', sans-serif; font-weight: 600;
    }
    


     span {
      color: #6155b5;
      font-size: 70px;

    }
  }

  .section2_third_row {
    
    background-color: #fff;
    border-radius: 0px;
    padding: 6px;

      h2 {
      color: #6155b5;
      font-family: 'Play', sans-serif; font-weight: 700;
    }

      p {
      color: #6155b5;
      font-family: 'Open Sans', sans-serif; font-weight: 600;
    }
  
    
    

     span {
      color: #6155b5;
      font-size: 70px;
    }
  }
  .section2_below {
    margin-top: 34px;
    background-color: #fff;
    border-radius: 0;
    padding: 5px;

    h1 {
      font-family: 'Play', sans-serif; font-weight: 700;
    }

    li { 
      list-style: none;

      p {
        color: #6155b5;
      }
    }
  }
}


.section3 {
  
  padding-bottom: 34px;
  padding-top: 34px;
  
  
  background: url(main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(177,170,230,.93);

  
    
  .features-devider {
    border: 0;
    height: 1px;
    background: #B1AAE6;
    background-image: linear-gradient(to right, #B1AAE6, #6155b5, #B1AAE6);
    }

  .features-heading {
    padding-top: 100px;
    color: #fff;
    
    
    
    font-family: 'Play', sans-serif; font-weight: 700;

    .text-muted {
      font-size: 20px;
      color: #ffde63;
    }
    
  }

  .features-text {
    color: #fff;
    font-family: 'Open Sans', sans-serif; font-weight: 600;
    text-align: left;
    padding: 2px;
  }

  .feature-bulb {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);

  }

  .feature-win {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    -webkit-transform: rotate(13deg);
  }

  .feature-control-panel {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    -webkit-transform: rotate(10deg);
  }

  img {
    border: 1px solid black;
    margin-top: 34px;
    margin-bottom: 34px;
  }


}


footer {
  background-color: #6155b5;
  padding-bottom: 5px;
  

  .footer_row {
    margin-top: 5px;
    color: #fff;
    padding-bottom: 5px;
    
    li {
      list-style: none;
      h3 {
        font-family: 'Play', sans-serif; font-weight: 700;
      }

      p {
      font-family: 'Open Sans', sans-serif; font-weight: 600;
      }
    }    
  }
}




















