<div class="admin_panel">
  <div class="row">
    <div class="col-md-3 ">
      <div class="left_panel">
      <ul>
      <li><%= link_to 'Nytt nyhetsbrev', "#",  class: "btn btn-default admin_button_sidebar" %></li>
      <li><%= link_to 'Vis alle påmeldte', subscribes_path, class: "btn btn-default admin_button_sidebar" %></li>
      <li><%= link_to 'Historikk', "#", class: "btn btn-default admin_button_sidebar" %></li>
          
      </ul>
      </div>
    </div>
    <div class="col-md-9 right_panel">