<%= render 'subscribes/subscribe_sidebar' %>
      <div class="right_panel"><p id="notice"><%= notice %></p>

<h2>Alle mottakere av nyhetsbrev</h2>

    <% @subscribes.each do |subscribe| %>
      <ul>
        <li><%= subscribe.email %> | <%= link_to "Slett", subscribe, :method => :delete, :data => {:confirm => "Er du sikker?"} %></li>
      </ul>

        
        
  
    <% end %>
  </tbody>
<br>

</div>


