<nav class="navbar navbar-default navbar-admin">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Devalo Administrasjonspanel</span>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Forside', admin_path %></li>
        <li><a href="#">Brukere</a></li>
        <li><%= link_to 'Nyhetsbrev', admin_nyhetsbrev_path %></li>
        <li><a href="#">Forespørsler</a></li>
        <li><a href="#">Blogg</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Tilbake til Devalo</a></li>
        <li><%= link_to "Logg ut", logout_path, method: :delete %></li> 
      </ul>
       
    </div>
  </div>
</nav>


