
<div class="admin_panel">
  <div class="row">
    <div class="col-md-3 ">
      <div class="left_panel">
      <ul>
      <li><%= link_to 'Forside', root_path %></li>
      <li>Brukere</li>
          <li><a href="#" class="btn btn-default admin_button_sidebar">Nyhetsbrev</a></li>
      </ul>
      </div>
    </div>
    <div class="col-md-9 right_panel">
      <div class="right_panel">
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>
