<footer>
<div class="container">
  <div class="row">
    <div class="col-md-3 footer_row">
    <ul>
      <li>Toppen av siden</li>
      <li>Tjenester</li>
      <li>Om Devalo</li>
      <li>Prosessen</li>
      <li>Kontakt oss</li>
      <li>Blogg</li>    
    </ul>
    
    </div>
    <div class="col-md-3 footer_row">
      <ul>
        <li>Nyhetsbrev</li>
        <form>
          <input type="text" value="epost"><br>
          <input type="submit" >
    </div>
    <div class="col-md-3 footer_row">
      hei
    </div>
    <div class="col-md-3 footer_row">
      <ul>
        <li>Kontaktinformasjon:</li>
        <li>Hertug Guthormsgate 29</li>
        <li>3111 Tønsberg</li>
        <li>Tlf 954 14 221</li>
      </ul>
      </div>

  </div>

</div>
</footer>