<nav class="navbar navbar-default navi" role="navigation">
  <div class="container">
    <div class="navbar-header">
     <div class="logo">
        <%= link_to image_tag('devalo.png', class: "logo"), root_url %>
        <div class="logo-undertekst">
        <i>Fremtiden ligger på nettet.</i>
        </div>
      </div>
   
    </div>
       <div class="navbar-right ">
        <ul>
          <li>Hjem</li>
          <li>|</li>
          <li>Tjenester</li>
          <li>|</li>
          <li>Om Devalo</li>
          <li>|</li>
          <li>Prosessen</li>
          <li>|</li>
          <li>Kontakt oss</li>
          <li>|</li>
          <li>Start prosjektet</li>
        </ul>
      </div>  

  </div>

</nav>





