<nav class="navbar navbar-default navi" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     <div class="logo">

        <%= link_to image_tag('devalo.png', class: "logo"), root_url %>
        <div class="logo-undertekst">

        <i>Fremtiden ligger på nettet.</i>
        
        </div>
      </div>
   
    </div>
       <div class="navbar-collapse  navbar-right  " id="navbar">
       
        <ul class="top_navigasjon">
          <li><%= link_to 'Forside', root_path %></li>
          <li>|</li>
         
          
          <li><%= link_to 'Om Devalo', om_path %></li>
          <li>|</li>
          
          <li><%= link_to 'Kontakt oss', new_contact_path %></li>
          
          
        </ul>
      </div>  

  </div>

</nav>





